:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #080808,
        #12091f,
        #1f1036
    );

    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    padding: 45px;
    border-radius: 20px;

    background: rgba(20, 20, 30, 0.85);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(173, 116, 255, 0.3);

    box-shadow:
        0 0 25px rgba(128, 0, 255, 0.3),
        0 0 70px rgba(128, 0, 255, 0.15);
}

h2 {
    text-align: center;
    color: #d9b3ff;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #b366ff;
}

p {
    margin: 0;
}

input {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;

    border-radius: 12px;
    border: 1px solid rgba(180, 120, 255, 0.4);

    background: rgba(255, 255, 255, 0.05);
    color: white;

    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

input::placeholder {
    color: #b8a2d6;
}

input:focus {
    border-color: #bb86fc;
    box-shadow: 0 0 15px #8a2be2;
}

button {
    width: 100%;
    padding: 16px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(
        45deg,
        #6a0dad,
        #9d4edd
    );

    color: white;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}
h2 {
    font-size: 28px;
}

button:hover {
    transform: translateY(-2px);

    box-shadow:
        0 0 15px #9d4edd,
        0 0 30px #6a0dad;
}

/* Hiệu ứng sao */
.stars {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.stars::before,
.stars::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;

    box-shadow:
        50px 100px white,
        150px 50px #d9b3ff,
        250px 200px white,
        400px 150px #c77dff,
        600px 300px white,
        800px 100px #e0aaff,
        1000px 250px white,
        1200px 120px #d9b3ff;

    animation: twinkle 3s infinite alternate;
}

.stars::after {
    animation-delay: 1.5s;
}

@keyframes twinkle {
    from {
        opacity: 0.2;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1.8);
    }
}